html,
body {
  background-color: #000;
  font-family: "Lato", sans-serif;
  font-weight: 400;
  height: 100%;
  line-height: 1; }

.btn {
  white-space: normal;
  border-radius: 0; }

.btn-answer {
  background-color: #eb0029;
  color: #fafafa; }
  .btn-answer:hover {
    background-color: #750616; }

.score {
  background-color: #750616;
  color: #fafafa;
  padding: 2rem 2.5rem;
  border-radius: 3rem;
  font-size: 1.5rem; }

.form-group label {
  color: #fafafa; }
.form-group input {
  border-radius: 0;
  background-clip: unset; }

span, p{
  color: #fafafa;
}

p{
  margin-bottom: 3rem;
  font-size: 1.5rem;
  font-weight: 300;
}
